.full-panel
  .container
    .jumbotron
      %h1 Get Text Alerts
      %h2 for charlotte area trails
      %p Be the first to know when trails open or close. We constantly monitor trail status updates and text you as soon as your favorite trail opens or closes.
      %p= link_to('Sign Up!', new_user_registration_path, class: 'btn btn-success btn-lg')
.container
  = render 'common/trail_statuses'
