.full-panel
  .container
    .jumbotron
      %h2 Hi There

      %p As you might have heard already, sending trail status updates via text message has become increasingly expensive over the last few months. So I've had to change some things up at MTB Trail Status.

      %h3 The Good News

      %p You can still get trail status alerts for free, but by email. If you prefer getting alerts via text message you can still have that too, but for a small monthly (or annual) fee.

      %h3 What You Need To Do To Keep Getting Alerts

      %p Whether you plan to get email alerts or text messages, you'll need to #{link_to('sign up', new_user_registration_path)} using your email address. Once you're signed up you'll be able to choose which trail alerts you want to receive.

      %p
        %strong Any trail alerts you've set up before now will no longer work unless you register.

      %p Sorry for the hassle. If you have any questions or just want to get in touch, reach out to me at #{mail_to 'jasonsanford@gmail.com'}.

      %p Happy Riding!

      %p
        \-
        %em Jason

      %p.action= link_to('Sign Up!', new_user_registration_path, class: 'btn btn-success btn-lg')
