.meta
  .container
    .trail
      %h2.name
        = @trail.display_name
        %small
          = @trail.status
          \-
          %span{title: @trail.updated_at}
            = time_ago_in_words @trail.updated_at
            ago
    .loop
      %h2.name
.map-container
  #map.map
:javascript
  mtb.trail = #{@trail.geojson.to_json};
