.container
  %h2 Trail Status Sources

  %p All trail statuses except for the US National Whitewater Center are sourced from the #{link_to 'Tarheel TrailBlazers website', 'http://www.tarheeltrailblazers.com/'}.

  %p US National Whitewater Center trails are sourced from #{link_to 'their twitter feed', 'https://twitter.com/usnwctrails'}.

  %h2 Source Code

  %p The code that powers this site is open source and is available at #{link_to 'https://github.com/JasonSanford/mtb-trail-status', 'https://github.com/JasonSanford/mtb-trail-status'}.
