.container
  %h2 Trail Status Sources

  %p All trail statuses except for the US National Whitewater Center are sourced from the #{link_to 'Tarheel TrailBlazers website', 'http://www.tarheeltrailblazers.com/'}.

  %p US National Whitewater Center trails are sourced from #{link_to 'their twitter feed', 'https://twitter.com/usnwctrails'}.

  %h2 Open Source

  %p The software powering this site is open source and can be found at #{link_to 'https://github.com/JasonSanford/mtb-trail-status', 'https://github.com/JasonSanford/mtb-trail-status'}.

  %h2 Contact

  %p If you're having issues with the site or just want to get in touch, I'm at #{mail_to 'jasonsanford@gmail.com', 'jasonsanford@gmail.com'}.
