$green: #5CB85C;
$white_opacity: rgba(255, 255, 255, 0.7);
$open: #060;
$closed: #900;

body {
  padding-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
  background: image-url('css/pw_pattern.png') #e0e0e0;
}

.top {
  background-color: $green;

  .header {
    padding: 20px 0;
    color: #fff;

    ul.nav li.active a, ul.nav li a:hover {
      background-color: #fff;
      color: $green;
    }

    ul.nav li.dropdown.open {
      background-color: #fff;
      border-radius: 4px;

      a {
        color: $green;
        background-color: #fff;
        border-color: #f00;
      }

      ul.dropdown-menu {
        a:hover {
          background-color: #eee;
        }
      }
    }

    a { color: #fff; }

    h3 {
      line-height: 40px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .alert {
    margin: 0;
    border-radius: 0;

    p {
      margin: 0;
    }
  }
}

.footer {
  color: #777;
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}

.full-panel {
  padding: 20px;
  background-image: image-url('bike-bw.jpg');
  background-position: center;
  background-size: cover;
}

.jumbotron {
  padding: 30px;
  background-color: $white_opacity;
  margin-bottom: 0;

  h1 { font-size: 55px; }

  h2 { margin-top: 0 }

  p { color: #555; }
}

@media (min-width: 768px) {
  .container { max-width: 730px; }
}

table.statuses {
  tr.trail {
    margin-bottom: 10px;

    td {
      vertical-align: middle !important;
      border: none !important;
      padding: 20px !important;

      &.date { text-align: right; }

      h3 {
        display: inline;

        a { color: #333; }
      }

      i.open { color: $open; }

      i.closed { color: $closed; }
    }
  }
}

.map-container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;

  .map-legends {
    .map-legend {
      font-size: 14px;
      padding: 1px 10px;

      a {
        color: $green;
        margin-bottom: 0;
      }
    }
  }

  .meta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9000;
    background-color: $white_opacity;

    .loop { display: none; }

    h2 {
      margin-top: 10px;
      text-align: center;

      a { color: #333; }
    }
  }

  .map { height: 100%; }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .top {
    .header {
      padding: 10px 0;

      h3 { font-size: 20px; }
    }
  }

  .map-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;

    .meta h2 {
      margin: 5px 0;
      line-height: 0.8em;
      text-align: center;

      small { display: block; }
    }
  }

  .full-panel .container { padding: 0; }

  .container > h2 {
    text-align: center;
    font-size: 23px;
  }

  table.statuses {
    tr.trail {
      h3 { font-size: 16px; }

      td {
        padding: 10px !important;

        &.name { padding-right: 0 !important; }

        &.date { padding-left: 0 !important; }
      }
    }
  }

  .jumbotron {
    padding: 20px;

    h1 { font-size: 34px; }

    h2 { font-size: 22px; }

    p { font-size: 16px; }
  }
}

body.index{
  .jumbotron { text-align: center;}
  .map {
    height: 400px;

    .leaflet-popup h2 a { color: $green; }

    .leaflet-popup h3 { margin-bottom: 0; }
  }
}

body.registrations.new, body.sessions.new, body.registrations.edit, body.passwords.new, body.passwords.edit, body.confirmations.new {
  .jumbotron{
    padding: 30px 140px;
  }
}

.map .leaflet-popup h1,
.map .leaflet-popup h2,
.map .leaflet-popup h3,
.map .leaflet-popup h4,
.map .leaflet-popup h5 { text-align: center; }
