.btn-group.btn-group-sm.trail-status-tabs{role: 'group tab-list'}
  %a.btn.btn-default.selected{href: '#tab-list', role: 'tab presentation', 'data-toggle' => 'tab'}
    %i.glyphicon.glyphicon-list
    View List
  %a.btn.btn-default{href: '#tab-map', role: 'tab presentation', 'data-toggle' => 'tab'}
    %i.glyphicon.glyphicon-map-marker
    View Map
